.markdown {
    margin-bottom: 8em;
    font-size: 16px;
}

.markdown > pre {
    margin: 0.5em -10px;
    padding: 0.5em 10px;
    font-family: Menlo, monospace;
    font-size: 14px;
    background-color: rgb(36, 10, 46);
    border-width: 1px 0;
    white-space: pre-wrap;
    color: rgb(176, 182, 167);
}

.markdown > p > code {
    font-size: 14px;
    background-color: rgb(199, 78, 180);
    padding: 3px 6px;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    font-family: Monaco, courier, monospace;
}

.markdown a {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}
.markdown a:link {
    color: rgb(62, 62, 175);
}
p {
  margin: 0px;
  padding: 16px 0px;
  line-height: 2em;
}
p img {
  max-width: 100%;
  box-shadow: 0px 0px 8px #666;
}
blockquote {
  box-shadow: 0px 0px 6px #ccc;
  padding: 0px 10px;
  color: #808080;
}
h1,
h2,
h3 {
  margin-top: 50px;
}
