
.post-item {
    line-height: 2em;
    cursor: pointer;
}

.post-item:hover, .post-item.highlight {
    background-color: rgb(241, 241, 241);
}

.post {
    min-height: 300px;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}